body {
	height: 930px;
	width: 900px;
	background-color: #536895 !important; 
}

nav {
	color: gold;
	background-color: #536895 !important; 
	font-size: larger;
	font-weight: 100;
}
.XXLFont {
	font-size: xx-large;
}
.XLFont{
	font-size: x-large;
}


#carousel{
	margin-top: 10px;
	margin-left: 10px;
	height: 520px;
}

#carousel img{
	min-height: 450px;
	max-height: 520px;
	width: auto;
}
.carousel {
	margin: 10px;
}

#eventsCards {
	max-width: 30%;
	float: left;
	font-size: larger;
	padding:10px;
	max-height: 300px;
}
#eventsCards h6{
	font-size: xx-large;
	color: gold !important;
}

h6 {
	font-weight: 500;
	color: #536895;
}

.row {
	margin-bottom: 0 !important;
}
